extends ./layout.pug

block content
  h1 Home
  .card(style='width: 18rem;')
    img.card-img-top(src='https://media.architecturaldigest.com/photos/5e82178d057a500008d1c488/16:9/w_2560%2Cc_limit/GettyImages-107875484.jpg' alt='...')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
      a.btn.btn-primary(href='#') Go somewhere